@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

input:focus {
    color: blue;
    font-weight: 700;
}

.container {
    font-family: 'Roboto', sans-serif;
    max-width: 1280px;
    margin: 50px auto 0;
}

#shop-name {
    text-align: center;
    border: 1px dotted gray;
    border-radius: 5px;
    padding: 10px 0;
}

#user-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fieldsets {
    display: flex;
}

#pitha-selection {
    width: 50%;
}

#vorta-selection {
    width: 49%;
    margin-left: 1%;
}

#special-instruction {
    width: 50%;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 0 5px;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100px;
}

button:hover {
    color: whitesmoke;
    background-color: gray;
    transition: 0.25s ease-in-out;
}